ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-BoldItalic.eot");
  src: url("../fonts/HelveticaNeue-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-BoldItalic.woff") format("woff"), url("../fonts/HelveticaNeue-BoldItalic.ttf") format("truetype"), url("../fonts/HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Italic.eot");
  src: url("../fonts/HelveticaNeue-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Italic.woff") format("woff"), url("../fonts/HelveticaNeue-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #E5E5E5;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Helvetica Neue'; }

.clearfix-9 {
  height: 9px;
  clear: both; }

.clearfix-20 {
  height: 20px;
  clear: both; }

.clr-red {
  color: #ED1111; }

.dp-flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.datepicker-vsd {
  background: #fff url(../img/icon-cacular.svg) no-repeat;
  background-position: center right 12px;
  cursor: pointer; }

.flex-center {
  display: flex;
  align-items: center; }

#d_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0; }
  #d_page #d_total_rec {
    color: #A3A3A3; }
  #d_page #d_number_of_page li {
    display: inline-block;
    cursor: pointer;
    margin-left: 4px; }
    #d_page #d_number_of_page li span {
      width: 23px;
      height: 23px;
      text-align: center;
      line-height: 23px;
      border-radius: 50%;
      display: inline-block;
      color: #A3A3A3; }
      #d_page #d_number_of_page li span.a-active {
        background: #164989;
        color: #fff; }
    #d_page #d_number_of_page li:hover span {
      background: #164989;
      color: #fff; }

.mw-40 {
  width: 40px; }

.mw-50 {
  width: 50px; }

.mw-60 {
  width: 60px; }

.mw-70 {
  width: 70px; }

.mw-80 {
  width: 80px; }

.mw-90 {
  width: 90px; }

.mw-100 {
  width: 100px; }

.mw-110 {
  width: 110px; }

.mw-120 {
  width: 120px; }

.mw-130 {
  width: 130px; }

.mw-140 {
  width: 140px; }

.mw-150 {
  width: 150px; }

.mw-160 {
  width: 160px; }

.mw-170 {
  width: 170px; }

.mw-180 {
  width: 180px; }

.mw-190 {
  width: 190px; }

.mw-200 {
  width: 200px; }

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

.row-vsd {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-vsd:after {
  content: '';
  display: table;
  clear: both; }

.row-10 {
  margin: 0 -10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-10:after {
  content: '';
  display: table;
  clear: both; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 7px; }

.row-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.logo {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  margin-bottom: 30px; }
  .logo img {
    margin-right: 3px; }
  .logo .txt-logo {
    color: #fff; }

header {
  position: fixed;
  width: 220px;
  background: #255888;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  header::-webkit-scrollbar {
    width: 5px; }
  header::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px; }
  header::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px; }
  header::-webkit-scrollbar-thumb:hover {
    background: #fff; }

.menu-parent > li {
  position: relative; }
  .menu-parent > li > a {
    display: flex;
    align-items: center;
    position: relative;
    color: #92ABC3;
    padding: 6px 25px 6px 18px;
    transition: all 0.3s; }
    .menu-parent > li > a:after {
      display: none;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background: #75BCFF;
      border-radius: 0.75px;
      transition: all 0.3s; }
    .menu-parent > li > a img {
      vertical-align: middle; }
    .menu-parent > li > a .icon-dark {
      display: inline-block;
      margin-right: 6px; }
    .menu-parent > li > a .icon-light {
      display: none;
      margin-right: 6px; }
    .menu-parent > li > a .angle-dark {
      position: absolute;
      top: 12px;
      right: 12px;
      display: block;
      transition: all 0.3s; }
    .menu-parent > li > a .angle-light {
      position: absolute;
      top: 12px;
      right: 12px;
      display: none;
      transition: all 0.3s; }
  .menu-parent > li:hover > a {
    background: rgba(97, 163, 224, 0.5);
    color: #fff;
    transition: all 0.3s; }
    .menu-parent > li:hover > a .icon-dark {
      display: none; }
    .menu-parent > li:hover > a .icon-light {
      display: inline-block; }
    .menu-parent > li:hover > a .angle-dark {
      display: none; }
    .menu-parent > li:hover > a .angle-light {
      display: block; }
    .menu-parent > li:hover > a:after {
      display: block; }
  .menu-parent > li.has-dropdown.active > a:after {
    display: block; }
  .menu-parent > li.has-dropdown.rotate-down > a:after {
    display: block; }
  .menu-parent > li.has-dropdown.rotate-down > a .angle-dark, .menu-parent > li.has-dropdown.rotate-down > a .angle-light {
    transform: rotate(180deg);
    transition: all 0.3s; }
  .menu-parent > li.has-dropdown.active > a {
    background: rgba(97, 163, 224, 0.5);
    color: #fff;
    transition: all 0.3s; }
    .menu-parent > li.has-dropdown.active > a .icon-dark {
      display: none; }
    .menu-parent > li.has-dropdown.active > a .icon-light {
      display: inline-block; }
    .menu-parent > li.has-dropdown.active > a .angle-dark {
      display: none; }
    .menu-parent > li.has-dropdown.active > a .angle-light {
      display: block; }
  .menu-parent > li.has-dropdown.active.rotate-down > a .angle-light {
    transform: rotate(180deg);
    transition: all 0.3s; }
  .menu-parent > li.has-dropdown.active .menuchild > li.active > a {
    color: #fff;
    transition: all 0.3s; }
    .menu-parent > li.has-dropdown.active .menuchild > li.active > a .liststyle {
      display: none; }
    .menu-parent > li.has-dropdown.active .menuchild > li.active > a .liststyle-light {
      display: inline-block; }

.block-account {
  margin-bottom: 35px;
  padding: 0 18px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .block-account .name-user {
    display: flex;
    align-items: center; }
    .block-account .name-user:hover span {
      text-decoration: underline; }
    .block-account .name-user img {
      margin-right: 6px; }
    .block-account .name-user span {
      color: #fff; }

.menuchild {
  display: block;
  width: 100%;
  background: #173958; }
  .menuchild > li > a {
    display: block;
    padding: 6px 10px 6px 39px;
    position: relative;
    color: #8B9CAB;
    transition: all 0.3s; }
    .menuchild > li > a .liststyle {
      display: inline-block;
      margin-right: 6px;
      position: absolute;
      top: 10px;
      left: 24px; }
    .menuchild > li > a .liststyle-light {
      display: none;
      margin-right: 6px;
      position: absolute;
      top: 10px;
      left: 24px; }
  .menuchild > li:hover > a {
    color: #fff;
    transition: all 0.3s; }
    .menuchild > li:hover > a .liststyle {
      display: none; }
    .menuchild > li:hover > a .liststyle-light {
      display: inline-block; }

.btn-expand-narrow {
  background: #4D7EB3;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 6px 0;
  width: 40px;
  outline: none;
  margin-left: 18px; }
  .btn-expand-narrow:focus {
    outline: none; }
  .btn-expand-narrow i {
    color: #c7d3e2; }
  .btn-expand-narrow i.fas.fa-angle-left {
    display: block; }
  .btn-expand-narrow i.fas.fa-angle-right {
    display: none; }

.title-page {
  margin-bottom: 20px; }
  .title-page .name-page {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #255888;
    margin-bottom: 5px;
    margin-top: 20px; }
  .title-page .breadcrumb-block a {
    color: #B6B6B6; }
    .title-page .breadcrumb-block a:last-child {
      color: #255888; }
  .title-page .breadcrumb-block span {
    color: #B6B6B6; }

main {
  width: calc(100% - 220px);
  padding-bottom: 50px;
  float: right; }

.block-data {
  background: #fff;
  border-radius: 5px; }

.box-search {
  padding: 20px 20px; }

.wrapper-editor table {
  color: #303030;
  margin-bottom: 0; }
  .wrapper-editor table thead tr {
    background: #255888; }
    .wrapper-editor table thead tr th {
      padding: 8px 16px;
      color: #fff;
      text-align: center;
      border: none;
      font-weight: 500; }
  .wrapper-editor table tbody tr {
    border-bottom: 1px solid #C4C4C4; }
    .wrapper-editor table tbody tr:hover {
      background: #F6F8FA; }
    .wrapper-editor table tbody tr td {
      padding: 10px 16px;
      border: none;
      vertical-align: middle; }
  .wrapper-editor table .btn-function {
    margin-right: 16px;
    display: inline-block; }
    .wrapper-editor table .btn-function:last-child {
      margin-right: 0; }

.item-search {
  display: inline-block;
  position: relative;
  margin-right: 6px;
  width: 300px;
  margin-bottom: 12px; }
  .item-search select, .item-search input {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
  .item-search select {
    cursor: pointer; }
  .item-search .angledown {
    position: absolute;
    top: 16px;
    right: 13px;
    transition: all 0.2s;
    z-index: 1; }
    .item-search .angledown.active {
      transform: rotate(180deg);
      transition: all 0.2s; }
  .item-search .icon-close-ip {
    position: absolute;
    top: 12px;
    right: 7px;
    border: none;
    background: transparent;
    line-height: 0;
    outline: none; }

.input-file input[type="file"] {
  visibility: hidden;
  width: 1px;
  height: 1px; }
.input-file .btn {
  background: #EEEEEE;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 5px;
  color: #999;
  margin-right: 20px;
  padding: 2px 10px;
  float: left;
  width: 109px; }
.input-file .file-selected {
  color: #999999;
  width: calc(100% - 145px);
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px; }

.block-white {
  padding: 45px 30px;
  background: #fff;
  border-radius: 10px; }

.lbl-field {
  color: #000;
  margin-top: 13px; }

.ip-edit, .sl-edit {
  background: #fff;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px 20px;
  margin-bottom: 29px;
  width: 100%;
  color: #000;
  font-weight: 300; }

input[disabled], input[disabled='disabled'], select[disabled], select[disabled='disabled'] {
  background: #EEEEEE;
  color: #999999; }

textarea.areaedit {
  background: #fff;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #000;
  padding: 5px 20px;
  margin-bottom: 29px;
  width: 100%;
  resize: vertical;
  font-weight: 300; }

textarea[disabled], textarea[disabled="disabled"] {
  background: #EEEEEE;
  color: #999999; }

.box-ipfile {
  margin-bottom: 20px; }
  .box-ipfile:after {
    content: '';
    display: table;
    clear: both; }
  .box-ipfile.canfuntion .btn, .box-ipfile.canfuntion .file-selected {
    color: #000; }

.box-upfile {
  margin-bottom: 30px; }
  .box-upfile:after {
    content: '';
    display: table;
    clear: both; }
  .box-upfile button {
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    color: #999;
    margin-right: 20px;
    padding: 5px 10px;
    float: left;
    width: 109px; }
  .box-upfile .txt-suggestion {
    color: #999999;
    width: calc(100% - 145px);
    float: left;
    margin-top: 5px;
    font-style: italic;
    font-weight: 300; }
  .box-upfile.canfuntion button {
    color: #000000; }

.btn-right {
  margin-top: 10px; }

.item-filed-edit select, .item-filed-edit input, .item-filed-edit textarea {
  font-style: italic; }

.md-vsd {
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.42); }
  .md-vsd.show {
    display: flex !important; }
  .md-vsd .md-dialog {
    max-width: 1080px;
    width: 100%; }
  .md-vsd .mdl-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #255888;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 16px; }
    .md-vsd .mdl-head .title-popup {
      color: #fff;
      font-weight: 500;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 20px; }
    .md-vsd .mdl-head button {
      background: none;
      border: none;
      line-height: 0;
      margin-right: -6px; }
  .md-vsd .mdl-body {
    padding: 34px 40px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 175px);
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    .md-vsd .mdl-body::-webkit-scrollbar {
      width: 6px; }
    .md-vsd .mdl-body::-webkit-scrollbar-track {
      border-radius: 10px; }
    .md-vsd .mdl-body::-webkit-scrollbar-thumb {
      background: #C4C4C4;
      border-radius: 10px; }
    .md-vsd .mdl-body::-webkit-scrollbar-thumb:hover {
      background: #b4b4b4; }
  .md-vsd .mdl-foot {
    padding: 0 40px 20px; }
    .md-vsd .mdl-foot .btn-foot {
      padding-top: 20px;
      border-top: 1px solid #303030; }

.item-popup {
  margin-bottom: 20px; }
  .item-popup:after {
    content: '';
    display: table;
    clear: both; }
  .item-popup .title-popup {
    font-weight: 500;
    color: #303030;
    margin-top: 11px;
    margin-right: 10px;
    float: left; }
  .item-popup .field-popup {
    width: calc(100% - 317px);
    float: right; }
    .item-popup .field-popup .ip-popup, .item-popup .field-popup select {
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
      width: 100%;
      padding: 10px 20px; }
      .item-popup .field-popup .ip-popup::-webkit-input-placeholder, .item-popup .field-popup select::-webkit-input-placeholder {
        /* Edge */
        font-style: italic;
        color: #999999; }
      .item-popup .field-popup .ip-popup:-ms-input-placeholder, .item-popup .field-popup select:-ms-input-placeholder {
        font-style: italic;
        color: #999999; }
      .item-popup .field-popup .ip-popup::placeholder, .item-popup .field-popup select::placeholder {
        font-style: italic;
        color: #999999; }
    .item-popup .field-popup label {
      display: inline;
      margin-left: 10px;
      margin-bottom: 0; }
    .item-popup .field-popup textarea {
      border: 1px solid #C4C4C4;
      border-radius: 5px;
      padding: 11px 20px;
      width: 100%;
      height: 80px;
      resize: vertical; }
      .item-popup .field-popup textarea::-webkit-input-placeholder {
        /* Edge */
        font-style: italic;
        color: #999999; }
      .item-popup .field-popup textarea:-ms-input-placeholder {
        font-style: italic;
        color: #999999; }
      .item-popup .field-popup textarea::placeholder {
        font-style: italic;
        color: #999999; }

.item-radio {
  display: inline-block;
  margin-right: 50px; }

.box-major {
  padding: 10px;
  border: 1px solid #C4C4C4;
  border-radius: 5px; }

.item-major {
  margin-top: 10px; }
  .item-major:first-child, .item-major:nth-child(2) {
    margin-top: 0; }

.box-upload-add .btn {
  border: 1px solid #C4C4C4;
  color: #303030;
  width: 150px;
  padding: 10px;
  background: #fff; }
.box-upload-add .file-selected {
  width: calc(100% - 175px);
  margin-top: 12px;
  color: #303030;
  font-style: italic; }

.item-popup .item-popup .item-major {
  margin-top: 0;
  margin-bottom: 10px; }
.item-popup .item-popup .field-popup {
  width: calc(100% - 200px); }
.item-popup .item-popup:last-child {
  margin-bottom: 0; }

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: #164989;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }
  #back-to-top:hover {
    background: #08336b; }

input[type="checkbox"][disabled="disabled"] {
  background: transparent; }

input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px; }

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  display: table;
  width: 6px;
  height: 14px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 3px;
  background: transparent; }

input[type="checkbox"]:checked:after {
  background-color: #2E5887;
  border-color: #2E5887; }

input[type="checkbox"] ~ label {
  cursor: pointer; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  margin-left: 0; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #2E5887;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.btn-add {
  background: #FFFFFF;
  border: 1px solid #255888;
  box-sizing: border-box;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  vertical-align: top;
  line-height: 0; }

.btn-search {
  background: #255888;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  vertical-align: top;
  border: 1px solid #255888;
  line-height: 0; }

.btn-blue, .btn-blue-outline {
  background: #255888;
  border: 1px solid #255888;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  width: 150px;
  margin-left: 20px;
  height: 40px;
  margin-bottom: 10px; }

.btn-blue-outline {
  background: #FFFFFF;
  color: #255888; }

/*# sourceMappingURL=main.css.map */
