// ======================================================
// Layout :: Content
// ======================================================

.title-page{
  .name-page{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #255888;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .breadcrumb-block{
    a{
      color: #B6B6B6;
      padding-right: 15px;
      position: relative;
      margin-right: 10px;
      &:after{
        content: '/';
        right: 0;
        position: absolute;
      }
      &:last-child{
        color: #255888;
        &:hover{
          text-decoration: underline;
        }
        &:after{
          display: none;
        }
      }

    }
    span{
      color: #B6B6B6;
      &:last-child{
        display: none;
      }
    }
  }

  margin-bottom: 20px;
}
main{
  width: calc(100% - 220px);
  padding-bottom: 50px;
  float: right;
  transition: all 0.3s;
  &.active{
    width: calc(100% - 55px);
    transition: all 0.3s;
  }
}
.block-data{
  background: #fff;
  border-radius: 5px;
}
.box-search{
  padding: 20px 20px;
}

.wrapper-editor{
  table{
    color: #303030;
    margin-bottom: 0;
    thead{
      tr{
        background: #255888;
        th{
          padding: 8px 16px;
          color: #fff;
          text-align: center;
          border: none;
          font-weight: 500;
        }
      }
    }
    tbody{
      tr{
        border-bottom: 1px solid #C4C4C4;
        &:hover{
          background: #F6F8FA;
        }
        td{
          padding: 10px 16px;
          border: none;
          vertical-align: middle;
        }
      }
    }
    .btn-function{
      margin-right: 16px;
      display: inline-block;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.item-search{
  display: inline-block;
  position: relative;
  margin-right: 6px;
  width: 300px;
  margin-bottom: 12px;
  > select, > input{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance: none;
  }
  select{
    cursor: pointer;
  }
  .angledown{
    position: absolute;
    top: 16px;
    right: 13px;
    transition: all 0.2s;
    z-index: 1;
    &.active{
      transform: rotate(180deg);
      transition: all 0.2s;
    }
  }
  .icon-close-ip{
    position: absolute;
    top: 12px;
    right: 7px;
    border: none;
    background: transparent;
    line-height: 0;
    outline: none;
  }
}



//------------------style chinh sua bai viet --------------------------

.input-file {
  input[type="file"] {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  .btn {
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    color: #999;
    margin-right: 20px;
    padding: 2px 10px;
    float: left;
    width: 109px;
  }

  .file-selected {
    color: #999999;
    width: calc(100% - 145px);
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
  }
}

.block-white{
  padding: 45px 30px;
  background: #fff;
  border-radius: 10px;

}
.lbl-field{
  color: #000;
  margin-top: 13px;
}
.ip-edit,.sl-edit{
  background: #fff;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  padding: 5px 20px;
  margin-bottom: 29px;
  width: 100%;
  color: #000;
  font-weight: 300;
}
input[disabled],input[disabled='disabled'],select[disabled],select[disabled='disabled']{
  background: #EEEEEE;
  color: #999999;
}
textarea.areaedit{
  background: #fff;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #000;
  padding: 5px 20px;
  margin-bottom: 29px;
  width: 100%;
  resize: vertical;
  font-weight: 300;
}
textarea[disabled],textarea[disabled="disabled"]{
  background: #EEEEEE;
  color: #999999;
}
.box-ipfile{
  margin-bottom: 20px;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  &.canfuntion{
    .btn,.file-selected{
      color: #000;
    }
  }

}
.box-upfile{
  margin-bottom: 30px;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  button{
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    color: #999;
    margin-right: 20px;
    padding: 5px 10px;
    float: left;
    width: 109px;
  }
  .txt-suggestion{
    color: #999999;
    width: calc(100% - 145px);
    float: left;
    margin-top: 5px;
    font-style: italic;
    font-weight: 300;
  }
  &.canfuntion{
    button{
      color: #000000;
    }
  }
}

.btn-right{
  margin-top: 10px;
}

.item-filed-edit{
  select,input,textarea{
    font-style: italic;
  }
}



// style popup

.md-vsd{
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.42);
  &.show{
    display: flex!important;
  }
  &.popup-flex{
    display: flex!important;
  }
  .md-dialog{
    max-width: 1080px;
    width: 100%;
  }
  .modal-content{
    border-radius: 5px;
    overflow: hidden;
  }
  .mdl-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #255888;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 16px;
    .title-popup{
      color: #fff;
      font-weight: 500;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 20px;
      .clr-red{
        color: red;
      }
    }
    button{
      background: none;
      border: none;
      line-height: 0;
      margin-right: -6px;
      outline: none;
    }
  }
  .mdl-body{
    padding: 34px 40px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 175px);
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
      //background: #C4C4C4;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      //box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
      //background: #C4C4C4;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #C4C4C4;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #b4b4b4;
    }
  }
  .mdl-foot{
    padding: 0 40px 20px;
    .btn-foot{
      padding-top: 20px;
      border-top: 1px solid #303030;
    }
  }
}

.item-popup{
  margin-bottom: 20px;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  .title-popup{
    font-weight: 500;
    color: #303030;
    margin-top: 11px;
    margin-right: 10px;
    float: left;
  }
  .field-popup{
    width: calc(100% - 317px);
    float: right;
    .ip-popup,select{
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
      width: 100%;
      padding: 10px 20px;
      &::-webkit-input-placeholder { /* Edge */
        font-style: italic;
        color: #999999;
      }
      &:-ms-input-placeholder{
        font-style: italic;
        color: #999999;
      }
      &::placeholder{
        font-style: italic;
        color: #999999;
      }
    }
    label{
      display: inline;
      margin-left: 10px;
      margin-bottom: 0;
    }

    textarea{
      border: 1px solid #C4C4C4;
      border-radius: 5px;
      padding: 11px 20px;
      width: 100%;
      height: 80px;
      resize: vertical;
      &::-webkit-input-placeholder { /* Edge */
        font-style: italic;
        color: #999999;
      }
      &:-ms-input-placeholder{
        font-style: italic;
        color: #999999;
      }
      &::placeholder{
        font-style: italic;
        color: #999999;
      }
    }
  }
}

.item-radio{
  display: inline-block;
  margin-right: 50px;
}
.box-major{
  padding: 10px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;

}
.item-major{
  margin-top: 10px;
  &:first-child,&:nth-child(2){
    margin-top: 0;
  }
}
.box-upload-add{
  .btn{
    border: 1px solid #C4C4C4;
    color: #303030;
    width: 150px;
    padding: 10px;
    background: #fff;
  }
  .file-selected{
    width: calc(100% - 175px);
    margin-top: 12px;
    color: #303030;
    font-style: italic;
  }

}
.item-popup{
  .item-popup{
    .item-major{
      margin-top: 0;
      margin-bottom: 10px;
    }
    .field-popup{
      width: calc(100% - 200px);
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}


.txt-approved {
  color: #00940f;
  text-align: center;
}