// ======================================================
// Components :: Button
// ======================================================


//style input checkbox
input[type="checkbox"][disabled="disabled"] {
  background: transparent;
}

 input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px;
}

 input[type="checkbox"]:checked:before {
   content: "";
   position: absolute;
   top: 1px;
   left: 7px;
   display: table;
   width: 6px;
   height: 14px;
   border: 2px solid #fff;
   border-top-width: 0px;
   border-left-width: 0;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

 input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 3px;
  background: transparent;
}

 input[type="checkbox"]:checked:after {
  background-color: #2E5887;
  border-color: #2E5887;
}

 input[type="checkbox"] ~ label {
  cursor: pointer;
}
 //style radio

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  margin-left: 0;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #2E5887;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}







.btn-add{
  background: #FFFFFF;
  border: 1px solid #255888;
  box-sizing: border-box;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  vertical-align: top;
  line-height: 0;
}
.btn-search{
  background: #255888;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  vertical-align: top;
  border: 1px solid #255888;
  line-height: 0;

}
.btn-blue,.btn-blue-outline{
  background: #255888;
  border: 1px solid #255888;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  width: 150px;
  margin-left: 20px;
  height: 40px;
  margin-bottom: 10px;
}
.btn-blue-outline{
  background: #FFFFFF;

  color: #255888;

}