// ======================================================
// Components :: Button
// ======================================================


//css input
.btn-general input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px;
}

.btn-general input[type="checkbox"]:checked:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  width: 8px;
  height: 8px;
  background: #164989;
}

.btn-general input[type="checkbox"]:checked:after {
  border-color: #4F80FF;
  //animation: scalebr 1s forwards;
}
.btn-general input[type="checkbox"]:after{
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid $c-bl;
  -webkit-transition: 240ms;
  transition: 240ms;
  background: #fff;

  //position: relative;
  //z-index: 999;
}
.btn-general:after{
  //content: '';
  width: 14px;
  height: 14px;
  background: #5192e4;
  position: absolute;
  top: 7px;
  left: 11px;

}




.btn-add{
  background: #FFFFFF;
  border: 1px solid #255888;
  box-sizing: border-box;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  vertical-align: top;
  line-height: 0;
}
.btn-search{
  background: #255888;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  vertical-align: top;
  border: 1px solid #255888;
  line-height: 0;

}